[package]
name = "drift-gateway"
version = "1.3.6"
edition = "2021"

[dependencies]
actix-web = "*"
argh = "*"
drift-rs = { git = "https://github.com/drift-labs/drift-rs", rev = "6ed6c34" }
env_logger = "*"
futures-util = "*"
log = "*"
rust_decimal = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"
solana-rpc-client-api = "2"
solana-sdk = "2"
solana-transaction-status = "2"
thiserror = "*"
tokio = "*"
tokio-tungstenite = "*"
