[package]
name = "drift-gateway"
version = "1.2.3"
edition = "2021"

[dependencies]
actix-web = "*"
argh = "*"
drift-rs = { git = "https://github.com/drift-labs/drift-rs", rev = "b8ed3e458284469dcdd2218b7e5e909dc402f2d6" }
env_logger = "*"
futures-util = "*"
log = "*"
rust_decimal = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"
solana-client = "2"
solana-sdk = "2"
solana-transaction-status = "2"
thiserror = "*"
tokio = "*"
tokio-tungstenite = "*"
