name: Build

on:
  push:
    branches:
      - master
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"

jobs:
  format-build-test:
    runs-on: ubicloud
    timeout-minutes: 45
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Config rust toolchain
        run: |
          rustup update stable && rustup default stable
          rustup component add rustfmt
          rustup show active-toolchain
          rustup install 1.76.0-x86_64-unknown-linux-gnu
      - name: Format
        run: cargo fmt --all -- --check
      - name: install libdrift_ffi_sys
        run: |
          curl -L https://github.com/user-attachments/files/17126152/libdrift_ffi_sys.so.zip > ffi.zip && unzip ffi.zip
          sudo cp libdrift_ffi_sys.so /usr/lib/
      - uses: ubicloud/rust-cache@v2
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        run: |
          cargo -V
          cargo check
      - name: Test
        env:
          DRIFT_GATEWAY_KEY: ${{ secrets.DRIFT_GATEWAY_KEY }}
        # limit test parallelism to prevent hitting RPC rate-limits
        run: |
          cargo -V
          cp libdrift_ffi_sys.so ./target/debug/deps
          cargo test --all -- --test-threads=1
