name: Build

on:
  push:
    branches:
      - master
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"

jobs:
  format-build-test:
    runs-on: ubicloud
    timeout-minutes: 15
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Config rust toolchain
        run: |
          rustup update stable && rustup default stable
          rustup show active-toolchain
      - name: Format
        run: cargo fmt --all -- --check
      - uses: ubicloud/rust-cache@v2
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: install libdrift_ffi_sys
        run: |
          curl -L https://github.com/drift-labs/drift-ffi-sys/releases/download/v2.105.0/libdrift_ffi_sys.so -o libdrift_ffi_sys.so
          cp libdrift_ffi_sys.so /usr/lib/
      - name: Build
        run: |
          cargo -V
          cargo check
      - name: Test
        env:
          DRIFT_GATEWAY_KEY: ${{ secrets.DRIFT_GATEWAY_KEY }}
          TEST_DELEGATED_SIGNER: ${{ secrets.TEST_DELEGATED_SIGNER }}
          TEST_RPC_ENDPOINT: ${{ secrets.DEVNET_RPC_ENDPOINT }}
          CARGO_DRIFT_FFI_PATH: /usr/lib
        # --test-threads, limit parallelism to prevent hitting RPC rate-limits
        run: |
          cargo -V
          cp libdrift_ffi_sys.so ./target/debug/deps
          cargo test --all -- --test-threads=2
